@using EAD_Proj1a.Models
@model EAD_Proj1a.Models.User

@{
    //Layout = null;
    ViewBag.Title = "Users Info | MySoundCloud";
}

<div>
    <br /> <br />
    <input type="text" name="tB1" id="uName" placeholder="Search User By Name" style="color:black">
    <input type="button" id="b1" value="Search" class="btn btn-warning" /> <br /> <br />
    <div id="result">
        <p id="p1" style="color:antiquewhite">
        </p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            $('#b1').click(function () {

                var userName = $('#uName').val();

                //alert('User Name ='+ userName);
                $.getJSON("/Admin/searchUser?UserName=" + userName, function (data) {
                    if (data.Id == 0) {
                        $('#p1').append("No User Found with this UserName");
                    }
                    else if (data) {

                        $('#p1').append("<img src=" + data.ProfilePic + " height=" + 100 + " width=" + 100 + "/> <br />" +
                            "ID : " + data.Id + "<br />" +
                            "Name : " + data.Name + "<br />" +
                            "Email : " + data.Email)

                    }
                    else if(data.Id == 0) {
                        $('#p1').append("No User Found with this UserName");
                    }
                });

            });

        });
    </script>
</div>

<br /> <br />

        @foreach (var x in ViewBag.usersList)
        {
            <div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-xs-3">
                        <img src="@x.ProfilePic" height="100" width="100" />
                    </div>
                    <div class="col-xs-4" style="color:antiquewhite ; font-size:large">
                        <br />
                        @x.Id <br />
                        @x.Name <br />
                        @x.Email <br />
                    </div>
                </div>
            </div>
        }
        